transition(n)
  -webkit-transition n
  -moz-transition n
  -ms-transition n
  -o-transition n
  transition n
transform(n)
  -webkit-transform n
  -moz-transform n
  -ms-transform n
  -o-transform n
  transform n